/*ESTILOS TEMPLATE LOGIN*/
body {
  font-family: "Lato", sans-serif;
}

.main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 80%;
  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff;
}

/*ESTILOS PARA BOTONES*/

/* 
    ** All elements border-box
*/

*,
*:before,
*::after {
  box-sizing: border-box;
}

/*
    ** Root elemnt font size
    ** No default margins and paddings
*/
html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/*
    **root elements display block
*/
html,
body {
  display: block;
}

/*
    ** Body main style
*/
body {
  line-height: 1.317101995;
  scroll-behavior: smooth;
  font-family: sans-serif;
  background-color: #ffffff;
}

.centered-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.content {
  background-color: #434343;
}

.btn {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  font-size: 100%;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #20e2d7;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 75%;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #20e2d7;
  transition: all 500ms ease;
  z-index: -1;
}

.btn-titles {
  position: relative;
  display: block;
  height: auto;
  width: 10%;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  font-size: 100%;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #20e2d7;
  z-index: 0;
  cursor: pointer;
  margin-left: 45%;
  margin-top: 5%;
  padding: 1%;
}

.btn-titles::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #20e2d7;
  transition: all 500ms ease;
  z-index: -1;
}

.btn-footer {
  position: relative;
  display: block;
  height: auto;
  width: 25%;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  font-size: 100%;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #20e2d7;
  z-index: 0;
  cursor: pointer;
  padding: 1%;
  margin: 1%;
}

.btn-footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #20e2d7;
  transition: all 500ms ease;
  z-index: -1;
}

.btn-success-1 {
  position: relative;
  display: block;
  height: auto;
  width: 25%;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
  font-size: 100%;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #11bd11;
  margin-left: 39%;
  z-index: 0;
  font-weight: 75%;
  cursor: pointer;
}

.btn-success-1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #68bf85;
  transition: all 500ms ease;
  z-index: -1;
}

.btn--1-ok:hover {
  background-color: #20e287;
  box-shadow: 0 0 10px #20e267, 0 0 20px #20e281, 0 0 20px #20e261;
  color: #434343;
}

.btn-success-msg {
  position: relative;
  display: block;
  height: auto;
  width: 25%;
  border-radius: 4px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 100%;
  transition: all 500ms;
  border: 2px solid #000000;
  margin-top: 40%;
  margin-left: 39%;
  z-index: 0;
  font-weight: 75%;
}

.btn-error-1 {
  position: relative;
  display: block;
  height: auto;
  width: 25%;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
  font-size: 100%;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #bd1128;
  margin-left: 37%;
  z-index: 0;
  font-weight: 75%;
  cursor: pointer;
}

.btn-error-msg {
  position: relative;
  display: block;
  height: auto;
  width: 25%;
  border-radius: 4px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 100%;
  transition: all 500ms;
  border: 1px solid #d60b26;
  margin-top: 40%;
  margin-left: 37%;
  z-index: 0;
  font-weight: 75%;
}

.btn-logOut {
  position: relative;
  display: block;
  height: auto;
  width: 5%;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  font-size: 100%;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #20e2d7;
  z-index: 0;
  font-weight: 75%;
  cursor: pointer;
}

.btn--2-error:hover {
  background-color: #e2203a;
  box-shadow: 0 0 10px #e22044, 0 0 20px #e2204a, 0 0 20px #e22064;
  color: #434343;
}

.btn--1::before {
  width: 0;
  height: 100%;
}

.btn--1:hover {
  color: #434343;
}

.btn--1:hover::before {
  width: 100%;
}

.btn--2:hover {
  background-color: #20e2d7;
  box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
  color: #434343;
}

.btn--3:hover {
  animation: shadow-pulse 1000ms 1;
  background-color: #20e2d7;
  color: #434343;
}

.btn--4::before {
  left: -520px;
  right: 0;
  width: 100%;
  height: 150%;
  transition: all 750ms ease;
  transform: rotate(45deg);
  box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
}

.btn--4:hover::before {
  left: 520px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
  }

  100% {
    box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
  }
}

/*

PEQUEÑOS ESTILOS PARA LAS TARJETAS

*/

.card {

  display: flex;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
  background-color: #434343;

}

.card-title,
.card-text {

  color: #ffff;

}

h2 {

  color: #ffffff;

}

/* ESTILOS PARA EL FORMULARIO */

.background {

  background-color: #434343;

}

.formStyle {

  width: 50%;
  height: auto;
  margin: 1%;
  padding: 1%;
  margin-left: 25%;

}

.colorText {

  color: #ffffff;

}

.bienvenida {

  font-size: 25px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;

}

.botonForm {

  width: 15%;
  height: auto;
  margin: 1%;
  padding: 1%;
  margin-left: 43%;

}